<%= form_with(url: students_path, method: :get, local: true, class: "form-inline") do |form| %>
  <div>
    <%= form.label :major, "Select Major", class: "form-label" %>
    <%= form.select :major, options_for_select(Student::VALID_MAJORS), { prompt: "Any Major" }, name: 'search[major]', class: "form-control" %>
  </div>

  <div>
    <%= form.submit "Search", class: "btn btn-primary" %>
  </div>
<% end %>
